 .u-section-1 {
  background-image: url("images/3f7d39c1-361b-9275-2f52-e971c0a36210.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 473px;
  height: 387px;
  margin: 127px auto 0 621px;
}

.u-section-1 .u-image-2 {
  width: 419px;
  height: 117px;
  margin: -348px auto 0 46px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-style: italic;
  margin: 22px 624px 0 60px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 40px 519px 0 89px;
}

.u-section-1 .u-btn-1 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 38px auto 60px 89px;
  padding: 9px 61px 11px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 383px;
    height: 320px;
    margin-top: 185px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -320px;
    margin-left: -14px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 5px;
    margin-right: 344px;
    margin-left: -144px;
  }

  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 29px;
    margin-right: 383px;
    margin-left: 25px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
    margin-top: 29px;
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-1 .u-image-1 {
    width: 322px;
    height: 269px;
    margin-top: 191px;
    margin-right: -9px;
  }

  .u-section-1 .u-image-2 {
    width: 375px;
    height: 105px;
    margin-top: -313px;
    margin-left: -27px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 19px;
    margin-right: 313px;
    margin-left: -50px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 23px;
    margin-right: 268px;
    margin-left: 18px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 26px;
    margin-left: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 108px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 28px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 367px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 35px;
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 22px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-1 .u-image-1 {
    height: 279px;
  }

  .u-section-1 .u-image-2 {
    height: 95px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
  
}

.u-section-2 .u-sheet-1 {
  min-height: 541px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3.75rem;
  font-weight: 600;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
  background-image: linear-gradient(#3347ff, #3a0ca3);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  font-weight: 600;
  margin: 52px 38px 0;
}

.u-section-2 .u-btn-1 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 38px auto 0 38px;
  padding: 9px 61px 11px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 333px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 57px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 31px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 40px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 42px;
    margin-bottom: 58px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
    margin-top: 26px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 32px;
    margin-left: 21px;
  }
} .u-section-3 {
  background-image: none;
  
}

.u-section-3 .u-sheet-1 {
  min-height: 566px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 600;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 61px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 9px;
  margin-bottom: 36px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 388px;
  grid-gap: 10px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 27px 22px;
}

.u-section-3 .u-icon-1 {
  height: 122px;
  width: 122px;
  background-image: none;
  
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 45px -22px 0 -7px;
}

.u-section-3 .u-text-3 {
  margin: 18px 8px 0;
}

.u-section-3 .u-line-1 {
  width: 172px;
  transform-origin: left center;
  margin: 28px auto 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 27px 22px;
}

.u-section-3 .u-icon-2 {
  height: 122px;
  width: 122px;
  background-image: none;
  
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  margin: 45px -22px 0 -7px;
}

.u-section-3 .u-text-5 {
  margin: 18px 8px 0;
}

.u-section-3 .u-line-2 {
  width: 172px;
  transform-origin: left center;
  margin: 28px auto 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 27px 22px;
}

.u-section-3 .u-icon-3 {
  height: 122px;
  width: 122px;
  background-image: none;
  
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  margin: 45px -22px 0 -7px;
}

.u-section-3 .u-text-7 {
  margin: 18px 8px 0;
}

.u-section-3 .u-line-3 {
  width: 172px;
  transform-origin: left center;
  margin: 28px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-2 {
    
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-3 {
    
  }

  .u-section-3 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-top: 36px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 735px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 61px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1423px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 47px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 36px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 9px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 36px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 9px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 36px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 9px;
  }
} .u-section-4 {
  background-image: none;
  
}

.u-section-4 .u-sheet-1 {
  min-height: 643px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 600;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-4 .u-video-1 {
  height: 413px;
  width: 788px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 33px auto 60px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-4 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-top: 33px;
  }

  .u-section-4 .u-video-1 {
    height: 377px;
    width: 720px;
  }

  .u-section-4 .embed-responsive-1 {
    width: 100%;
    left: auto;
    height: 100%;
    top: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-4 .u-video-1 {
    height: 300px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 368px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 48px;
  }

  .u-section-4 .u-video-1 {
    height: 190px;
    margin-top: 18px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  background-image: none;
  
}

.u-section-5 .u-sheet-1 {
  min-height: 1935px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 600;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 87px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 37px;
}

.u-section-5 .u-layout-cell-1 {
  --radius: 50px;
  min-height: 511px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-group-elements-1 {
  width: 281px;
  min-height: 265px;
  height: auto;
  margin: 20px auto 0;
}

.u-section-5 .u-image-1 {
  width: 78px;
  height: 78px;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 12px auto 0;
}

.u-section-5 .u-btn-1 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 18px auto 0;
  padding: 10px 91px 10px 89px;
}

.u-section-5 .u-btn-2 {
  --radius: 15px;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  
  margin: 23px auto 0;
  padding: 9px 90px 11px 89px;
}

.u-section-5 .u-layout-cell-2 {
  --radius: 50px;
  min-height: 511px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-group-elements-2 {
  width: 281px;
  min-height: 301px;
  height: auto;
  margin: 30px auto 0;
}

.u-section-5 .u-image-2 {
  width: 78px;
  height: 78px;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 12px 9px 0;
}

.u-section-5 .u-btn-3 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 19px auto 0;
  padding: 10px 91px 10px 89px;
}

.u-section-5 .u-btn-4 {
  --radius: 15px;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  
  margin: 23px auto 0;
  padding: 9px 90px 11px 89px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 511px;
  background-image: none;
  
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-5 .u-group-elements-3 {
  width: 281px;
  min-height: 410px;
  margin: 20px auto 0;
}

.u-section-5 .u-image-3 {
  width: 78px;
  height: 78px;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 12px auto 0;
}

.u-section-5 .u-btn-5 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 19px auto 0;
  padding: 9px 100px 11px 98px;
}

.u-section-5 .u-btn-6 {
  --radius: 15px;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  
  margin: 23px auto 0;
  padding: 9px 123px 11px 121px;
}

.u-section-5 .u-btn-7 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 23px auto 0;
  padding: 10px 91px 10px 89px;
}

.u-section-5 .u-btn-8 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 24px auto 0;
  padding: 10px 91px 10px 89px;
}

.u-section-5 .u-layout-cell-4 {
  --radius: 50px;
  min-height: 511px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-group-elements-4 {
  width: 282px;
  min-height: 335px;
  height: auto;
  margin: 20px auto 0;
}

.u-section-5 .u-image-4 {
  width: 78px;
  height: 78px;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 12px auto 0;
}

.u-section-5 .u-btn-9 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 19px auto 0;
  padding: 9px 89px 10px 88px;
}

.u-section-5 .u-btn-10 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 24px auto 0;
  padding: 9px 90px 10px 89px;
}

.u-section-5 .u-btn-11 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 23px auto 0;
  padding: 9px 53px 10px 52px;
}

.u-section-5 .u-layout-cell-5 {
  --radius: 50px;
  min-height: 511px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-5 .u-group-elements-5 {
  width: 301px;
  min-height: 405px;
  margin: 20px auto 0;
}

.u-section-5 .u-image-5 {
  width: 78px;
  height: 78px;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 500;
  width: 301px;
  margin: 12px auto 0;
}

.u-section-5 .u-btn-12 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 19px auto 0;
  padding: 9px 112px 10px 111px;
}

.u-section-5 .u-btn-13 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 23px auto 0;
  padding: 9px 103px 10px;
}

.u-section-5 .u-btn-14 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 23px auto 0;
  padding: 9px 89px 10px 88px;
}

.u-section-5 .u-btn-15 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 23px auto 0;
  padding: 9px 89px 10px 88px;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 511px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-6 {
  padding: 0;
}

.u-section-5 .u-group-elements-6 {
  width: 281px;
  min-height: 300px;
  height: auto;
  margin: 30px auto 0;
}

.u-section-5 .u-image-6 {
  width: 78px;
  height: 78px;
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 12px 25px 0;
}

.u-section-5 .u-btn-16 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 19px auto 0;
  padding: 9px 124px 10px 123px;
}

.u-section-5 .u-btn-17 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 23px auto 0;
  padding: 9px 116px 10px 115px;
}

.u-section-5 .u-layout-cell-7 {
  min-height: 666px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-7 {
  padding: 20px 0;
}

.u-section-5 .u-group-elements-7 {
  width: 281px;
  min-height: 439px;
  height: auto;
  margin: 0 auto;
}

.u-section-5 .u-image-7 {
  width: 77px;
  height: 77px;
  margin: 0 auto;
}

.u-section-5 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 12px 26px 0;
}

.u-section-5 .u-btn-18 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 18px auto 0;
  padding: 9px 89px 10px 88px;
}

.u-section-5 .u-btn-19 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 23px auto 0;
  padding: 9px 103px 10px;
}

.u-section-5 .u-btn-20 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 23px auto 0;
  padding: 9px 89px 10px 88px;
}

.u-section-5 .u-btn-21 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 23px auto 0;
  padding: 9px 90px 10px 89px;
}

.u-section-5 .u-layout-cell-8 {
  min-height: 666px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-8 {
  padding: 0;
}

.u-section-5 .u-group-elements-8 {
  width: 283px;
  min-height: 643px;
  margin: 23px auto 0;
}

.u-section-5 .u-image-8 {
  width: 77px;
  height: 78px;
  margin: -1px auto 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 12px 28px 0 27px;
}

.u-section-5 .u-btn-22 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 18px auto 0;
  padding: 9px 71px 10px 70px;
}

.u-section-5 .u-btn-23 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 23px auto 0;
  padding: 9px 95px 11px 93px;
}

.u-section-5 .u-btn-24 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 22px auto 0;
  padding: 9px 88px 11px 86px;
}

.u-section-5 .u-btn-25 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 23px auto 0;
  padding: 9px 69px 10px 68px;
}

.u-section-5 .u-btn-26 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 23px auto 0;
  padding: 8px 109px 8px 107px;
}

.u-section-5 .u-btn-27 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 23px auto 0;
  padding: 9px 90px 10px 89px;
}

.u-section-5 .u-btn-28 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 23px auto 0;
  padding: 8px 90px 9px;
}

.u-section-5 .u-layout-cell-9 {
  min-height: 666px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-9 {
  padding: 0;
}

.u-section-5 .u-group-elements-9 {
  width: 281px;
  min-height: 263px;
  margin: 20px auto 0;
}

.u-section-5 .u-image-9 {
  width: 77px;
  height: 77px;
  margin: 0 auto;
}

.u-section-5 .u-text-10 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 12px 27px 0;
}

.u-section-5 .u-btn-29 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 18px auto 0;
  padding: 9px 124px 10px 123px;
}

.u-section-5 .u-btn-30 {
  --radius: 15px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 24px auto 0;
  padding: 9px 116px 10px 115px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1874px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-5 .u-container-layout-1 {
    
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 421px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 421px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 421px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 421px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 421px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 549px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 549px;
  }

  .u-section-5 .u-layout-cell-9 {
    min-height: 549px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1732px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-top: 51px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 455px;
  }

  .u-section-5 .u-group-elements-1 {
    width: 210px;
    min-height: 277px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1rem;
    padding-left: 59px;
    padding-right: 59px;
  }

  .u-section-5 .u-btn-2 {
    font-size: 1rem;
    padding: 10px 60px 10px 59px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 455px;
  }

  .u-section-5 .u-group-elements-2 {
    width: 220px;
    min-height: 300px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 1.5rem;
  }

  .u-section-5 .u-btn-3 {
    font-size: 1rem;
    padding-left: 59px;
    padding-right: 59px;
  }

  .u-section-5 .u-btn-4 {
    font-size: 1rem;
    padding: 10px 60px 10px 59px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 455px;
  }

  .u-section-5 .u-group-elements-3 {
    width: 210px;
    min-height: 415px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-btn-5 {
    font-size: 1rem;
    padding: 10px 68px 10px 67px;
  }

  .u-section-5 .u-btn-6 {
    font-size: 1rem;
    padding: 10px 88px;
  }

  .u-section-5 .u-btn-7 {
    font-size: 1rem;
    padding-left: 59px;
    padding-right: 59px;
  }

  .u-section-5 .u-btn-8 {
    font-size: 1rem;
    padding-right: 60px;
    padding-left: 59px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 442px;
  }

  .u-section-5 .u-group-elements-4 {
    width: 211px;
    min-height: 341px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-btn-9 {
    font-size: 1rem;
    padding-bottom: 9px;
    padding-left: 59px;
    padding-right: 59px;
  }

  .u-section-5 .u-btn-10 {
    font-size: 1rem;
    padding-top: 8px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-5 .u-btn-11 {
    font-size: 1rem;
    padding-right: 26px;
    padding-bottom: 9px;
    padding-left: 25px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 442px;
  }

  .u-section-5 .u-group-elements-5 {
    min-height: 402px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-12 {
    font-size: 1rem;
    padding: 8px 80px 9px;
  }

  .u-section-5 .u-btn-13 {
    font-size: 1rem;
    padding: 8px 73px 9px 72px;
  }

  .u-section-5 .u-btn-14 {
    font-size: 1rem;
    padding: 8px 59px 9px;
  }

  .u-section-5 .u-btn-15 {
    font-size: 1rem;
    padding: 8px 60px 9px 59px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 442px;
  }

  .u-section-5 .u-group-elements-6 {
    width: 210px;
    min-height: 273px;
  }

  .u-section-5 .u-text-7 {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
  }

  .u-section-5 .u-btn-16 {
    font-size: 1rem;
    padding: 8px 89px 9px;
  }

  .u-section-5 .u-btn-17 {
    font-size: 1rem;
    padding-bottom: 9px;
    padding-left: 83px;
    padding-right: 83px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 700px;
  }

  .u-section-5 .u-group-elements-7 {
    width: 211px;
    min-height: 405px;
  }

  .u-section-5 .u-text-8 {
    width: 188px;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-18 {
    font-size: 1rem;
    padding-right: 59px;
    padding-left: 58px;
  }

  .u-section-5 .u-btn-19 {
    font-size: 1rem;
    margin-top: 22px;
    padding-right: 73px;
    padding-bottom: 9px;
    padding-left: 72px;
  }

  .u-section-5 .u-btn-20 {
    font-size: 1rem;
    padding-top: 8px;
    padding-right: 60px;
    padding-left: 59px;
  }

  .u-section-5 .u-btn-21 {
    font-size: 1rem;
    padding-right: 60px;
    padding-left: 59px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 700px;
  }

  .u-section-5 .u-group-elements-8 {
    width: 210px;
    min-height: 595px;
    height: auto;
    margin-top: 20px;
  }

  .u-section-5 .u-image-8 {
    margin-top: 0;
  }

  .u-section-5 .u-text-9 {
    width: 172px;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-22 {
    font-size: 1rem;
    padding-right: 43px;
    padding-bottom: 9px;
    padding-left: 42px;
  }

  .u-section-5 .u-btn-23 {
    font-size: 1rem;
    padding: 8px 63px 9px;
  }

  .u-section-5 .u-btn-24 {
    font-size: 1rem;
    padding-right: 57px;
    padding-bottom: 10px;
    padding-left: 55px;
  }

  .u-section-5 .u-btn-25 {
    font-size: 1rem;
    padding-bottom: 9px;
    padding-left: 39px;
    padding-right: 39px;
  }

  .u-section-5 .u-btn-26 {
    font-size: 1rem;
    padding: 6px 76px 7px;
  }

  .u-section-5 .u-btn-27 {
    font-size: 1rem;
    padding-top: 8px;
    padding-left: 59px;
    padding-right: 59px;
  }

  .u-section-5 .u-btn-28 {
    font-size: 1rem;
    padding-right: 60px;
    padding-bottom: 8px;
    padding-left: 59px;
  }

  .u-section-5 .u-layout-cell-9 {
    min-height: 700px;
  }

  .u-section-5 .u-group-elements-9 {
    width: 210px;
    min-height: 273px;
  }

  .u-section-5 .u-text-10 {
    width: 186px;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-29 {
    font-size: 1rem;
    padding-bottom: 9px;
    padding-left: 89px;
    padding-right: 89px;
  }

  .u-section-5 .u-btn-30 {
    font-size: 1rem;
    padding-bottom: 9px;
    padding-left: 83px;
    padding-right: 83px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3755px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    margin-bottom: 39px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-9 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1610px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-6 {
  background-image: none;
  
}

.u-section-6 .u-sheet-1 {
  min-height: 559px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 600;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 0;
  margin-bottom: 31px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 396px;
  grid-gap: 10px;
}

.u-section-6 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 213px;
  width: 213px;
  background-image: url("images/Melissa_Lee.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 16px 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 5px 0 0;
}

.u-section-6 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  height: 213px;
  width: 213px;
  background-image: url("images/IMG_6255.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-6 .u-text-6 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 16px 0 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 5px 0 0;
}

.u-section-6 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  height: 213px;
  width: 213px;
  background-image: url("images/IMG_3049.JPG");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-8 {
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-6 .u-text-9 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 16px 0 0;
}

.u-section-6 .u-text-10 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 5px 0 0;
}

.u-section-6 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  height: 213px;
  width: 213px;
  background-image: url("images/IMG_3654.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-11 {
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-6 .u-text-12 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 16px 0 0;
}

.u-section-6 .u-text-13 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 5px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 35px;
  }

  .u-section-6 .u-list-1 {
    grid-template-rows: auto;
    margin-bottom: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-6 .u-text-1 {
    width: 371px;
    margin-top: 53px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
} .u-section-7 {
  background-image: none;
  
}

.u-section-7 .u-sheet-1 {
  min-height: 692px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 600;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 63px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: normal;
  margin: 3px auto 0;
}

.u-section-7 .u-video-1 {
  height: 413px;
  width: 788px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 39px auto 60px;
}

.u-section-7 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-7 .u-video-1 {
    height: 377px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-7 .u-video-1 {
    height: 300px;
    margin-top: 25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 45px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 6px;
  }

  .u-section-7 .u-video-1 {
    height: 190px;
    margin-top: 36px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}